/* --------------- */
/* --- General --- */
/* --------------- */
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

/* ---------------------- */
/* --- Common Classes --- */
/* ---------------------- */

/* Centering */
.c-h {
	display: flex;
	justify-content: center;
	align-items: center;
}

.c-h-sp {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.c-v {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.c-v-sp {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

/* Images */
.background-image {
	background: center center/cover no-repeat;
}
