:root {
	--primary-blue: rgb(30, 50, 70);
	--secondary-blue: rgb(60, 80, 100);
}

html {
	scroll-behavior: smooth;
}

body {
	color: #333333;
	background-color: #fafafa;
}

.max1200 {
	width: 100%;
	max-width: 1200px;
	height: 100%;
}


/* -------------- */
/* --- Header --- */
/* -------------- */
nav {
	height: 100px;
	background-image: linear-gradient(var(--primary-blue), var(--secondary-blue));
	box-shadow: 0px 0px 5px black;
	z-index: 2;
}

nav > h1 {
	color: white;
	margin-bottom: 0;
	font-size: 2rem !important;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: -1px -1px 2px black, -1px 1px 2px black, 1px -1px 2px black, 1px 1px 2px black;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, .8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
	padding: 36px 14px !important;
	color: white;
	font-size: 18px;
}

.nav-link:hover {
	padding: 36px 14px 32px !important;
	color: white;
	border: solid white;
	border-width: 0 0 4px 0;
}


/* ---------------- */
/* --- Featured --- */
/* ---------------- */
#featured {
	width: 100%;
	height: 600px;
	background-image: linear-gradient(rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.8)),
		url("../images/books.jpg");
}

.carousel-inner, .carousel-item {
	height: 100%;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
	display: flex;
	padding: 40px 10% 60px;
}

.carousel-item > img {
	height: 100%;
	margin-right: 40px;
	object-fit: contain;
}

.carousel_text {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: white;
}

.carousel_links {
	display: flex;
	margin-top: auto;
}

.carousel_links > a:first-child {
	margin-right: 8px;
}

.carousel_links i {
	margin-right: 8px;
}

.cl_mobile {
	display: none;
}

.carousel-control-next, .carousel-control-prev {
	width: 8%;
}


/* ------------- */
/* --- Books --- */
/* ------------- */
#books {
	width: 100%;
	max-width: 1400px;
	margin: 50px auto 38px;
}

#books_container {  /* c-h */
	flex-wrap: wrap;
}

#books_container > a {
	margin: 12px;
}

.book_item_image {
	width: 200px;
	height: 320px;
	object-fit: cover;
	box-shadow: 0px 0px 4px black;
}

#see_more {
	margin-top: 12px;
}


/* --------------- */
/* --- YouTube --- */
/* --------------- */
hr {
	width: 90%;
	margin: 0 auto;
}

section#youtube, section#coming_soon {
	padding: 38px 8% 50px;
}

section#youtube {
	background-color: var(--primary-blue);
}

section#youtube > h1, section#youtube > p {
	color: #dddddd;
	text-align: center;
}

section#youtube > h1 {
	margin-bottom: 1rem;
}

section#youtube > p:first-of-type {
	margin-bottom: .5rem;
}

section#youtube > p:last-of-type {
	margin-bottom: 1.5rem;
}

section#youtube > iframe {
	width: 100%;
	max-width: 560px;
	height: 315px;
}


/* ------------------- */
/* --- Coming Soon --- */
/* ------------------- */
#coming_soon > h1 {
	margin-bottom: 1.5rem;
	text-align: center;
}

#coming_soon_content {
	display: flex;
}

#coming_soon_content > img {
	width: 250px;
	height: 400px;
	margin-right: 20px;
}

#coming_soon_content > div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}


/* -------------- */
/* --- Author --- */
/* -------------- */
#author_container {
	width: 100%;
	height: 500px;
	padding: 30px 0px;
	background-color: var(--secondary-blue);
}

#author {
	display: flex;
}

#author > img {
	align-self: center;
	height: 100%;
}

#about {
	padding: 0px 30px;
	color: white;
}

#about > p {
	margin-bottom: 0px;
}

#about a {
	color: white;
	font-style: italic;
}


/* -------------- */
/* --- Footer --- */
/* -------------- */
footer {
	position: relative;  /* Ensures the shadow is "above" neighboring elements */
	width: 100%;
	height: 150px;
	background-color: var(--primary-blue);
	box-shadow: 0px 0px 5px black;
}

footer .c-v {
	position: relative;  /* Stretched link */
	color: #efefef;
	cursor: pointer;
}

footer .c-v:hover p {
	text-decoration: underline;
}

footer i {
	font-size: 40px;
}

footer p {
	margin-bottom: 0px;
}


/* ----------------- */
/* --- All Books --- */
/* ----------------- */
#all_books {
	width: 100%;
	max-width: 1000px;
	margin: 0px auto;
	padding: 0px 20px;
}

.book_item_full {
	display: grid;
	grid-template-columns: 192.5px auto;  /* So image fits 350px height container */
	grid-column-gap: 20px;
	width: 100%;
	min-height: 350px;
	margin: 20px 0px;
	padding: 20px;
	border: 1px solid gray;
}

.book_item_full > img {
	width: 100%;
	object-fit: contain;
}

.book_item_full_text {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.book_item_full_text > h1 {
	font-size: 2rem;
}

.book_item_full_text > p {
	margin-bottom: 0.5rem;
}

.book_item_full_text > p:last-of-type {
	margin-bottom: 18px;  /* Ensure space between text and buttons */
}

.book_item_full_links {
	display: flex;
	margin-top: auto;
}

.book_item_full_links > a:first-child {
	margin-right: 8px;
}

.book_item_full_mobile {
	display: none;
}


/* ---------------------- */
/* --- Responsiveness --- */
/* ---------------------- */
@media only screen and (max-width: 1200px) {
	.max1200 {
		max-width: 100%;
	}
}


@media only screen and (max-width: 1000px) {
	h1 {
		font-size: 2rem;
	}

	p {
		font-size: 15px;
	}

	.carousel-item-next, .carousel-item-prev, .carousel-item.active {
		padding: 30px 10% 50px;
	}

	#books {
		margin: 28px 0px 24px;
	}

	#about {
		padding: 0px 30px 0px 20px;
	}
}


@media only screen and (max-width: 992px) {
	nav {
		height: 80px;
	}

	.navbar-collapse {
		background-color: var(--secondary-blue);
		box-shadow: 0px 1px 5px -1px black;
	}

	.nav-link {
		padding: 18px !important;
		transition: 0s;
	}

	.nav-link:hover {
		padding: 18px 18px 18px 14px !important;
		text-decoration: none;
		border: solid white;
		border-width: 0 0 0 4px;
	}
}


@media only screen and (max-width: 767px) {
	nav > h1 {
		font-size: 1.5rem !important;
	}

	.carousel-item-next, .carousel-item-prev, .carousel-item.active {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: 280px auto;  /* Image is 175x280 */
		grid-column-gap: 12px;
		grid-row-gap: 24px;
		padding: 20px 20px 60px;
	}

	.carousel-item > img {
		width: 175px;
		height: auto;
		margin-right: 0px;
	}

	.carousel_text {
		grid-column: 2/3;
		grid-row: 1/3;
	}

	.carousel_text > h1 {
		font-size: 1.5rem;
	}

	.carousel_text > p {
		margin-bottom: .5rem;
		font-size: 14px;
		line-height: 1.3;
	}

	.carousel_links {
		flex-direction: column;
		margin-top: 0px;
	}

	.cl_desktop {
		display: none;
	}

	.cl_mobile {
		display: flex !important;
	}

	.carousel_links > a {
		width: 100%;
	}

	.carousel_links > a:first-child {
		margin-right: 0px;
		margin-bottom: 8px;
	}

	.carousel-control-next, .carousel-control-prev {  /* Swipe to scroll on mobile */
		display: none;
	}

	.book_item_image {
		width: 150px;
		height: 240px;
	}

	#coming_soon > h1 {
		margin-bottom: 1rem;
	}

	#coming_soon_content {
		flex-direction: column;
	}

	#coming_soon_content > img {
		margin: 0 auto 20px;
	}

	#coming_soon_content p {
		margin-bottom: 0.5rem;
		text-align: center;
	}

	#author_container {
		height: auto;
		padding: 20px 0px 0px;
	}

	#author {
		flex-direction: column-reverse;
	}

	#author > img {
		width: 100%;
		max-width: 400px;
		height: auto;
		max-height: min-content;
	}

	#about {
		padding: 0px 30px 20px;
	}

	footer {
		height: 250px;
	}

	footer > .max1200 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		max-width: 500px;
	}

	/* all-books */
	.book_item_full {
		display: none;
	}

	.book_item_full_mobile {
		display: block;
		width: 100%;
		margin: 20px 0px;
		padding: 20px;
		border: 1px solid gray;
	}

	.book_item_full_mobile > img {
		float: left;
		width: 125px;
		margin: 0px 20px 10px 0px;
		object-fit: contain;
	}

	.book_item_full_mobile > h1 {
		font-size: 1.5rem;
	}
}


@media only screen and (max-width: 500px) {
	/* all-books */
	#all_books {
		padding: 0px 14px;
	}

	.book_item_full {
		grid-column-gap: 14px;
		margin: 14px 0px;
		padding: 14px;
	}
}
