html {
	scroll-behavior: smooth;
}

body {
	color: #333333;
	background-color: #fafafa;
}

.max1000 {
	width: 100%;
	max-width: 1000px;
	height: 100%;
}


/* -------------- */
/* --- Header --- */
/* -------------- */
header, footer {
	width: 100%;
	height: 150px;
	box-shadow: 0px 0px 4px black;
}

header {
	background-image: linear-gradient(rgb(40, 60, 80), #f1f1f1);
}

header h1 {
	color: white;
	font-size: 4rem;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: -1px -1px 2px black, -1px 1px 2px black, 1px -1px 2px black, 1px 1px 2px black;
}

header a {
	color: #333333;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav_item {
	position: relative;
	padding: 6px 24px;
	font-size: 18px;
	cursor: pointer;
}

.nav_item:not(:last-child) {
	border-right: 1px solid #a1a1a1;
}


/* ---------------- */
/* --- Featured --- */
/* ---------------- */
#featured {
	width: 100%;
	height: 500px;
	margin: 50px 0px;
	background-image: linear-gradient(rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.8)),
		url("images/books.jpg");
}

.carousel-inner, .carousel-item {
	height: 100%;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
	display: flex;
	padding: 60px 15%;
}

.carousel-item > img {
	height: 100%;
	margin-right: 40px;
	object-fit: contain;
}

.carousel_text {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: white;
}

.carousel_links {
	display: flex;
	margin-top: auto;
}

.carousel_links > a:first-child {
	margin-right: 8px;
}

.carousel_links i {
	margin-right: 8px;
}

.cl_mobile {
	display: none;
}

.carousel-control-next, .carousel-control-prev {
	width: 8%;
}


/* ----------------- */
/* --- All Books --- */
/* ----------------- */
#books {  /* c-h */
	flex-wrap: wrap;
	width: 100%;
	max-width: 1400px;
	margin: 0px auto;
}

.book_item {
	position: relative;
	width: 200px;
	margin: 12px;
	box-shadow: 0px 0px 4px black;
	overflow: hidden;
}

.book_item_image {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.book_item_overlay {
	position: absolute;
	top: 100%;
	
	width: 100%;
	height: 100%;
	padding: 12px;
	text-align: center;
	color: white;
	background-color: rgba(40, 60, 80, 0.9);
	transition: 0.65s ease;
}

.book_item:hover .book_item_overlay {
	top: 0%;
}


/* ---------------- */
/* --- Featured --- */
/* ---------------- */
#author_container {
	width: 100%;
	height: 500px;
	margin: 50px 0px;
	background-color: rgb(40, 60, 80);
}

#author {
	display: flex;
}

#author > img {
	align-self: center;
	height: 90%;
}

#about {
	padding: 20px;
	color: white;
}


/* -------------- */
/* --- Footer --- */
/* -------------- */
footer {
	color: #181818;
	background-image: linear-gradient(#f1f1f1, rgb(40, 60, 80));
}

footer .c-v {
	position: relative;
	cursor: pointer;
}

footer  .c-v:hover i {
	color: #806000;
}

footer i {
	font-size: 40px;
	transition: 0.2s;
}

footer p {
	margin-bottom: 0;
}


/* ---------------------- */
/* --- Responsiveness --- */
/* ---------------------- */
@media only screen and (max-width: 1000px) {
	.max1000 {
		max-width: 100%;
	}

	h1 {
		font-size: 2rem;
	}

	p {
		font-size: 15px;
	}

	#featured {
		margin: 30px 0px;
	}

	.carousel-item-next, .carousel-item-prev, .carousel-item.active {
		padding: 30px 10% 50px;
	}

	#author_container {
		margin: 30px 0px;
		height: auto;
	}
}


@media only screen and (max-width: 700px) {
	header h1 {
		font-size: 3rem;
	}

	.nav_item {
		font-size: 14px;
	}

	.carousel-item-next, .carousel-item-prev, .carousel-item.active {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		grid-column-gap: 12px;
		padding: 20px 20px 60px;
	}

	.carousel-item > img {
		width: 175px;
		height: auto;
		margin-right: 0px;
	}

	.carousel_text {
		grid-column: 2/3;
		grid-row: 1/3;
	}

	.carousel_text > h1 {
		font-size: 1.5rem;
	}

	.carousel_text > p {
		margin-bottom: .5rem;
		font-size: 14px;
	}

	.carousel_links {
		flex-direction: column;
		margin-top: 0px;
	}

	.cl_desktop {
		display: none;
	}

	.cl_mobile {
		display: flex !important;
	}

	.carousel_links > a {
		width: 100%;
	}

	.carousel_links > a:first-child {
		margin-right: 0px;
		margin-bottom: 8px;
	}

	.carousel-control-next, .carousel-control-prev {  /* Swipe to scroll on mobile */
		display: none;
	}

	#books {
		height: 544px;  /* Two books and their margins */
		overflow: hidden;
	}

	.book_item {
		width: 155px;
	}

	#author {
		flex-direction: column-reverse;
	}

	#author > img {
		width: 100%;
		max-width: 400px;
		height: auto;
	}
}
